build/
*.log
*.ospx
oscript_modules/

coverage/stat\.json

bdd-exec\.xml

*.epf

coverage/
ConfigDumpInfo.xml
.vscode/launch.json
tools/oscript.cfg
src/oscript.cfg
.scannerwork/
allure-report/
