# Файлы
*.log
*.ospx

coverage/stat\.json

bdd-exec\.xml

*.epf

**/ConfigDumpInfo.xml
.vscode/launch.json
tools/oscript.cfg
src/oscript.cfg

# Каталоги
build/
oscript_modules/
coverage/
.scannerwork/
allure-report/
