# MIT License
# Copyright (C) 2020 Tymko Oleg <olegtymko@yandex.ru> and contributors
# All rights reserved.

name: Тестирование
# Любой пуш и pr в проекте
on: [push, pull_request]

jobs:
  build:
    runs-on: [vanessa]
    # runs-on: ${{ matrix.os }}
    # strategy:
    #   fail-fast: false
    #   matrix:
    #     # os: [ubuntu-latest, windows-latest]
    #     oscript_version: ['1.4.0']
        
    steps:
      # Загрузка проекта
      - name: Актуализация
        uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
          
      # Установка OneScript конкретной версии
      # - name: Установка OneScript
      #   uses: otymko/setup-onescript@v1.1
      #   with:
      #     version: ${{ matrix.oscript_version }}

      # Установка зависимостей пакета
      - name: Установка зависимостей
        shell: cmd
        run: |
          opm install --dev
          opm install -l
        # run: |
        #   opm install opm
        #   opm install add
        #   opm install --dev
          
      # Задача тестирования, в результате ожидается успешное выполнение
      - name: Тестирование
        run: oscript ./tasks/test.os
